.calc {
    display: grid;
    border: 2px solid black;
    height: 500px;
    width: 400px;
    padding: 20px;
}

.display {
    box-sizing: border-box;
    width: 350px;
    border: 1px solid black;
    height: 100px;
    text-align: right;
    padding: 20px;
}

.numbers {
    grid-area: nums;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
} 

.operators {
    grid-area: ops;
    display: inline-grid;
}

.btns {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        'nums nums nums . ops'
        'nums nums nums . ops'
        'nums nums nums . ops'
        'nums nums nums . ops';
}





