body {
    background-color: black;
}

.num {
    background-color: orange;
}

#clear, .ops, .equals {
    background-color: rgb(93, 222, 162);
}

.num, #clear, .equals, .ops {
    border-radius: 60px;
    border: 1px solid black;
}

.calc {
    display: grid;
    border: 3px solid rgb(93, 222, 162);
    min-height: 450px;
    max-width: 400px;
    padding: 20px;
    margin: auto;
}

.display {
    display: flex;
    flex: 1;
    justify-content: right;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
    border: 3px solid orange;
    font-size: 50px;
    color:rgb(93, 222, 162);
    height: 80px;
}

.numbers {
    grid-area: nums;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
} 

.operators {
    grid-area: ops;
    display: inline-grid;
}

.btns {
    display: grid;
    height: 300px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        'nums nums nums ops'
        'nums nums nums ops'
        'nums nums nums ops'
        'nums nums nums ops';
}



